*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
    font-size: 62.5%;
    /* always specify root fontsize in percentage as user can also set font size on browser.
    if author specifies in px then it will not be overriden */
}

* {
    margin: 0;
    padding: 0;
}


/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    box-sizing: border-box;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}
