.u-center-text {
    text-align: center;
}

.u-margin-bottom-lg {
    margin-bottom: 8rem;
}
.u-margin-top-lg {
    margin-bottom: 8rem;
}
.u-margin-top-xlg {
    margin-bottom: 10rem;
}
.u-margin-bottom-sm {
    margin-bottom: 1.5rem;
}